p{
  height:50px;
  line-height: 50px;
  margin-left: 10px;
  font-weight: bold;
}
.group{
  overflow: hidden;
  li{
    width:20%;
    height:200px;
    float:left;
    position: relative;
    img{
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      margin:auto;
    }
  }
}
